@page "/networks"

@inject PageNavigationService PageNavService
@inject IJSRuntime JS
@inject NavigationManager NavManager
@inject TuraIntranet.Services.Network.NetworkService NetworkService

<PageTitle>Nätverk</PageTitle>

<link rel="stylesheet" type="text/css" href="plugins/table/datatable/datatables.css">
<link rel="stylesheet" type="text/css" href="plugins/table/datatable/dt-global_style.css">

<div id="content" class="main-content">
    <div class="layout-px-spacing">

        <div class="row layout-top-spacing" id="cancel-row">

            @*<div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                <div class="widget-content widget-content-area br-6">

                    <br />
                    <center><h5>IP-Adresser</h5></center>
                    <br />

                    <div class="form-group row" style="padding-left:25px;">
                        <div class="col-sm-2">
                            <select name="nät" class="form-control country_code  form-control-sm">
                                <option value="0">Välj Nät</option>

                                 @foreach (var employee in this.shipmentEmployees)
                                {
                                <option value="@employee.Id">@(employee.FirstName + " " + employee.LastName)</option>
                                }
                            </select>
                        </div>

                        <div class="col-sm-2">
                            <input type="text" class="form-control form-control-sm" placeholder="Tilldelning">
                        </div>

                        <div class="col-sm-2">
                            <input type="text" class="form-control form-control-sm" placeholder="IP">
                        </div>

                        <div class="col-xl-2 col-md-4">
                            <button class="btn btn-dark btn-block mb-4 mr-2" @onclick=@Search>Sök</button>
                        </div>
                    </div>
                </div>
            </div>*@

            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                <div class="widget-content widget-content-area br-6">

                    <table id="zero-config" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>IP-Adress</th>
                                <th>Tilldelning</th>
                                <th>Info</th>
                                <th>Nätverk</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (this.networks != null && this.networks.Count > 0)
                            {
                                foreach (var network in this.networks)
                                {
                                    foreach (var networkIp in network.NetworkIps)
                                    {
                                        <tr>
                                            <td>@(networkIp.Ip1 + "." + networkIp.Ip2 + "." + networkIp.Ip3 + "." + networkIp.Ip4)</td>
                                            <td>@networkIp.AssignedTo</td>
                                            <td>@networkIp.Info</td>
                                            <td>@network.NetworkName</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button class="btn btn-dark btn-sm" @onclick=@(() => this.ShowNetworkIp(networkIp.Id.ToString()))>Visa</button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <Footer />
</div>

@code {
    private List<TuraIntranet.Data.Networks.Network>? networks;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            this.PageNavService.UpdateActiveSection("");
            this.PageNavService.UpdateActivePage("IT-Admin");

            this.networks = await this.NetworkService.GetNetworks();
            this.StateHasChanged();

            await JS.InvokeVoidAsync("loadDataTableComponent");
        }
    }

    public void ShowNetworkIp(string networkIpId)
    {
        this.NavManager.NavigateTo("/network/" + networkIpId);
    }

    private async Task AlertUser(string text)
    {
        try
        {
            await this.JS.InvokeVoidAsync("alert", text);
        }
        catch (Exception e)
        {

        }
    }
}