@page "/claim/{claimId}"

@inject IJSRuntime JS
@inject TuraIntranet.Services.Claims.ClaimsService ClaimsService
@inject PageNavigationService PageNavService
@inject NavigationManager NavManager

<PageTitle>Claim</PageTitle>


<link href="assets/css/apps/invoice-edit.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="plugins/dropify/dropify.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/forms/theme-checkbox-radio.css">
<link href="plugins/flatpickr/flatpickr.css" rel="stylesheet" type="text/css">
<link href="plugins/flatpickr/custom-flatpickr.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" type="text/css" href="plugins/table/datatable/datatables.css">
<link rel="stylesheet" type="text/css" href="plugins/table/datatable/dt-global_style.css">

<div id="content" class="main-content">
    <div class="layout-px-spacing">
        <div class="row invoice layout-top-spacing layout-spacing">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="doc-container">

                    <div class="row">
                        <div class="col-xl-12">

                            <div class="invoice-content">

                                <div class="invoice-detail-body">

                                    @if (this.claim != null)
                                    {
                                        <div class="invoice-detail-header">

                                            <div class="row justify-content-between">

                                                <div class="col-xl-4 invoice-address-company">

                                                    <div class="invoice-address-company-fields" novalidate>

                                                        <div class="form-group row">
                                                            @*<label class="col-sm-3 col-form-label col-form-label-sm">Faktura från kund</label>*@
                                                            <div class="col-sm-9">
                                                                <div class="custom-control custom-checkbox checkbox-info">
                                                                    <input type="checkbox" class="custom-control-input" id="ffkref" checked="@this.claim.InvoiceFromCustomer" @onclick=@OnClickInvoiceFromCustomer>
                                                                    <label class="custom-control-label" for="ffkref">Faktura från kund</label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        @if (this.claim.InvoiceFromCustomer)
                                                        {
                                                            <div class="form-group row">
                                                                <label class="col-sm-3 col-form-label col-form-label-sm">Referens</label>
                                                                <div class="col-sm-8">
                                                                    <input type="text" class="form-control form-control-sm" placeholder="Referens" @bind-value="@this.claim.InvoiceFromCustomerReference">
                                                                </div>
                                                            </div>
                                                        }

                                                        <hr />

                                                        <div class="form-group row">
                                                            @*<label class="col-sm-3 col-form-label col-form-label-sm">Kredit till kund</label>*@
                                                            <div class="col-sm-9">
                                                                <div class="custom-control custom-checkbox checkbox-info">
                                                                    <input type="checkbox" class="custom-control-input" id="ktkref" checked="@this.claim.CreditToCustomer" @onclick=@OnClickCreditToCustomer>
                                                                    <label class="custom-control-label" for="ktkref">Kredit till kund</label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        @if (this.claim.CreditToCustomer)
                                                        {
                                                            <div class="form-group row">
                                                                <label class="col-sm-3 col-form-label col-form-label-sm">Referens</label>
                                                                <div class="col-sm-8">
                                                                    <input type="text" class="form-control form-control-sm" placeholder="Referens" @bind=@this.claim.CreditToCustomerReference>
                                                                </div>
                                                            </div>
                                                        }

                                                        <hr />

                                                        <div class="form-group row">
                                                            @*<label class="col-sm-3 col-form-label col-form-label-sm">Faktura till leverantör</label>*@
                                                            <div class="col-sm-9">
                                                                <div class="custom-control custom-checkbox checkbox-info">
                                                                    <input type="checkbox" class="custom-control-input" id="ftlref" checked="@this.claim.InvoiceToSupplier" @onclick=@OnClickInvoiceToSupplier>
                                                                    <label class="custom-control-label" for="ftlref">Faktura till leverantör</label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        @if (this.claim.InvoiceToSupplier)
                                                        {
                                                            <div class="form-group row">
                                                                <label class="col-sm-3 col-form-label col-form-label-sm">Referens</label>
                                                                <div class="col-sm-8">
                                                                    <input type="text" class="form-control form-control-sm" placeholder="Referens" @bind-value="@this.claim.InvoiceToSupplierReference">
                                                                </div>
                                                            </div>
                                                        }

                                                        <hr />

                                                        <div class="form-group row">
                                                            @*<label class="col-sm-3 col-form-label col-form-label-sm">Kredit från leverantör</label>*@
                                                            <div class="col-sm-9">
                                                                <div class="custom-control custom-checkbox checkbox-info">
                                                                    <input type="checkbox" class="custom-control-input" id="kflref" checked="@this.claim.CreditFromSupplier" @onclick=@OnClickCreditFromSupplier>
                                                                    <label class="custom-control-label" for="kflref">Kredit från leverantör</label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        @if (this.claim.CreditFromSupplier)
                                                        {
                                                            <div class="form-group row">
                                                                <label class="col-sm-3 col-form-label col-form-label-sm">Referens</label>
                                                                <div class="col-sm-8">
                                                                    <input type="text" class="form-control form-control-sm" placeholder="Referens" @bind-value="@this.claim.CreditFromSupplierReference">
                                                                </div>
                                                            </div>
                                                        }

                                                    </div>

                                                </div>

                                                <div class="col-xl-4 invoice-address-client">

                                                    <div class="invoice-address-client-fields">

                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label col-form-label-sm">Summa Ut</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" class="form-control form-control-sm" placeholder="Summa Ut" @bind-value="@this.claim.AmountOut">
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label col-form-label-sm">Valuta</label>
                                                            <div class="col-sm-8">
                                                                <select name="type" class="form-control country_code  form-control-sm" @onchange=@OnSelectAmountOut>
                                                                    @foreach (var currency in this.currencies)
                                                                    {
                                                                        if (this.claim.CurrencyOut == currency.Key)
                                                                        {
                                                                            <option value="@currency.Key" selected>@currency.Value</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@currency.Key">@currency.Value</option>
                                                                        }
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label col-form-label-sm">Summa In</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" class="form-control form-control-sm" placeholder="Summa In" @bind-value="@this.claim.AmountIn">
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label col-form-label-sm">Valuta</label>
                                                            <div class="col-sm-8">
                                                                <select name="type" class="form-control country_code  form-control-sm" @onchange=@OnSelectAmountIn>
                                                                    @foreach (var currency in this.currencies)
                                                                    {
                                                                        if (this.claim.CurrencyIn == currency.Key)
                                                                        {
                                                                            <option value="@currency.Key" selected>@currency.Value</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@currency.Key">@currency.Value</option>
                                                                        }
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label col-form-label-sm">Tura Kontaktperson</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" class="form-control form-control-sm" placeholder="Tura Kontaktperson" @bind-value="@this.claim.TuraContactPerson">
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label col-form-label-sm">Kund Kontaktperson</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" class="form-control form-control-sm" placeholder="Kund Kontaktperson" @bind-value="@this.claim.CustomerContactPerson">
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="col-xl-4 invoice-address-client">

                                                    <div class="invoice-address-client-fields">

                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label col-form-label-sm">Kund</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" class="form-control form-control-sm" placeholder="Kund" @bind-value="@this.claim.Customer">
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label col-form-label-sm">Datum</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" class="form-control form-control-sm" placeholder="Datum" @bind-value="@this.claim.Date">
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label col-form-label-sm">Leverantör</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" class="form-control form-control-sm" placeholder="Leverantör" @bind-value="@this.claim.Supplier">
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label col-form-label-sm">Kundnummer</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" class="form-control form-control-sm" placeholder="Kundnummer" @bind-value="@this.claim.CustomerNumber">
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label col-form-label-sm">Ärende</label>
                                                            <div class="col-sm-8">
                                                                <textarea class="form-control" placeholder="Ärende" @bind=@this.claim.Subject rows="5" />
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label col-form-label-sm">Klar</label>
                                                            <div class="col-sm-8">
                                                                <b>@(this.claim.Completed ? "Ja" : "Nej")</b>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    }
                                    else
                                    {
                                        <p>N/A</p>
                                    }

                                </div>
                            </div>
                        </div>

                        <div class="col-xl-12">

                            <div class="invoice-actions-btn">
                                <div class="invoice-action-btn">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-4">
                                            <button class="btn btn-dark btn-block mb-4 mr-2" @onclick=@Save>Spara</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <Footer />
</div>


@code {
    [Parameter]
    public string? claimId { get; set; }
    public TuraIntranet.Data.Claims.Claim claim;
    private Dictionary<int, string> currencies;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            this.PageNavService.UpdateActiveSection("Reklam");
            this.PageNavService.UpdateActivePage("Claim");

            this.currencies = new();
            this.currencies.Add(1, "SEK");
            this.currencies.Add(2, "EUR");
            this.currencies.Add(3, "DKK");
            this.currencies.Add(4, "NOK");
            this.currencies.Add(5, "USD");

            if (int.TryParse(this.claimId, out int id))
            {
                this.claim = await this.ClaimsService.GetClaim(id);
                this.StateHasChanged();
            }
        }
    }

    private void OnClickInvoiceFromCustomer()
    {
        if (this.claim.InvoiceFromCustomer)
        {
            this.claim.InvoiceFromCustomer = false;
        }
        else
        {
            this.claim.InvoiceFromCustomer = true;
        }

        this.StateHasChanged();
    }

    public void OnClickCreditToCustomer()
    {
        if (this.claim.CreditToCustomer)
        {
            this.claim.CreditToCustomer = false;
        }
        else
        {
            this.claim.CreditToCustomer = true;
        }

        this.StateHasChanged();
    }

    public void OnClickInvoiceToSupplier()
    {
        if (this.claim.InvoiceToSupplier)
        {
            this.claim.InvoiceToSupplier = false;
        }
        else
        {
            this.claim.InvoiceToSupplier = true;
        }

        this.StateHasChanged();
    }

    public void OnClickCreditFromSupplier()
    {
        if (this.claim.CreditFromSupplier)
        {
            this.claim.CreditFromSupplier = false;
        }
        else
        {
            this.claim.CreditFromSupplier = true;
        }

        this.StateHasChanged();
    }

    public void OnSelectAmountOut(ChangeEventArgs e)
    {
        if (e != null && e.Value != null && e.Value.ToString() != null)
        {
            this.claim.CurrencyOut = int.Parse(e.Value.ToString());
        }
    }

    public void OnSelectAmountIn(ChangeEventArgs e)
    {
        if (e != null && e.Value != null && e.Value.ToString() != null)
        {
            this.claim.CurrencyIn = int.Parse(e.Value.ToString());
        }
    }

    private async Task Save()
    {
        if (this.IsCompleted())
        {
            this.claim.Completed = true;
        }

        await this.ClaimsService.Updateclaim(this.claim);
        await this.ClaimsService.Flush();
        await this.AlertUser("Claim Uppdaterad");
    }

    private bool IsCompleted()
    {
        bool invoiceFromCustomerCompleted = false;
        bool creditToCustomerCompleted = false;
        bool invoiceToSupplier = false;
        bool creditFromSupplier = false;

        if (this.claim.InvoiceFromCustomer)
        {
            if(!string.IsNullOrEmpty(this.claim.InvoiceFromCustomerReference))
            {
                invoiceFromCustomerCompleted = true;
            }
        }
        else
        {
            invoiceFromCustomerCompleted = true;
        }

        if (this.claim.CreditToCustomer)
        {
            if (!string.IsNullOrEmpty(this.claim.CreditToCustomerReference))
            {
                creditToCustomerCompleted = true;
            }
        }
        else
        {
            creditToCustomerCompleted = true;
        }

        if (this.claim.InvoiceToSupplier)
        {
            if (!string.IsNullOrEmpty(this.claim.InvoiceToSupplierReference))
            {
                invoiceToSupplier = true;
            }
        }
        else
        {
            invoiceToSupplier = true;
        }

        if (this.claim.CreditFromSupplier)
        {
            if (!string.IsNullOrEmpty(this.claim.CreditFromSupplierReference))
            {
                creditFromSupplier = true;
            }
        }
        else
        {
            creditFromSupplier = true;
        }

        return (invoiceFromCustomerCompleted && creditToCustomerCompleted && invoiceToSupplier && creditFromSupplier);
    }

    private async Task AlertUser(string text)
    {
        try
        {
            await this.JS.InvokeVoidAsync("alert", text);
        }
        catch (Exception e)
        {

        }
    }
}
