@page "/lagginleverans"

@inject PageNavigationService PageNavService
@inject IJSRuntime JS
@inject NavigationManager NavManager
@inject TuraIntranet.Services.Logistics.ShipmentService ShipmentService
@inject NotificationService Notification

<PageTitle>Inleverans - Lägg till</PageTitle>

<link href="assets/css/apps/invoice-edit.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="plugins/dropify/dropify.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/forms/theme-checkbox-radio.css">
<link href="plugins/flatpickr/flatpickr.css" rel="stylesheet" type="text/css">
<link href="plugins/flatpickr/custom-flatpickr.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" type="text/css" href="plugins/table/datatable/datatables.css">
<link rel="stylesheet" type="text/css" href="plugins/table/datatable/dt-global_style.css">

<div id="content" class="main-content">
    <div class="layout-px-spacing">
        <div class="row invoice layout-top-spacing layout-spacing">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="doc-container">

                    <div class="row">
                        <div class="col-xl-9">

                            <div class="invoice-content">

                                <div class="invoice-detail-body">

                                    @if (this._shipment != null)
                                    {
                                        <div class="invoice-detail-header">

                                            <div class="row justify-content-between">
                                                <div class="col-xl-5 invoice-address-company">

                                                    <div class="invoice-address-company-fields">

                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label col-form-label-sm">Ändrat av</label>
                                                            <div class="col-sm-9">

                                                                <select name="användare" class="form-control country_code  form-control-sm" @onchange=@OnChangeUpdatedById>
                                                                    <option value="0">Välj användare</option>

                                                                    @foreach (var employee in this.shipmentEmployees)
                                                                    {
                                                                        <option value="@employee.Id">@(employee.FirstName + " " + employee.LastName)</option>
                                                                    }
                                                                </select>

                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label col-form-label-sm">Mottaget av</label>
                                                            <div class="col-sm-9">
                                                                <select name="mottaget" class="form-control country_code  form-control-sm" @onchange=@OnChangeReceivedById>
                                                                    <option value="0">Välj användare</option>

                                                                    @foreach (var employee in this.shipmentEmployees)
                                                                    {
                                                                        <option value="@employee.Id">@(employee.FirstName + " " + employee.LastName)</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label col-form-label-sm">Mottaget av</label>
                                                            <div class="col-sm-9">
                                                                <select name="mottagare" class="form-control country_code  form-control-sm" @onchange=@OnChangeReceiverId>
                                                                    <option value="0" selected>Välj mottagare</option>
                                                                    <option value="1">TURA</option>
                                                                    <option value="2">NI</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label col-form-label-sm">Leverantör</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" class="form-control form-control-sm" placeholder="Leverantör" @bind-value="@this._shipment.Shipment.Supplier">
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>


                                                <div class="col-xl-5 invoice-address-client">

                                                    <div class="invoice-address-client-fields">

                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label col-form-label-sm">Ordernr</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" class="form-control form-control-sm" placeholder="Ordernr" @bind-value="@this._shipment.Shipment.OrderNumbers">
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label col-form-label-sm">Antal Pall</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" class="form-control form-control-sm" placeholder="Antal Pall" @bind-value="@this._shipment.Shipment.NumberOfPallets">
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label col-form-label-sm">Antal Kollin</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" class="form-control form-control-sm" placeholder="Antal Kollin" @bind-value="@this._shipment.Shipment.NumberOfPackages">
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label col-form-label-sm">Placering</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" class="form-control form-control-sm" placeholder="Placering" @bind-value="@this._shipment.Shipment.Placement">
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label col-form-label-sm">Prioriterad </label>
                                                            <div class="col-sm-9">
                                                                <div class="custom-control custom-checkbox checkbox-info">
                                                                    <input type="checkbox" class="custom-control-input" id="sChkbox" checked="@this._shipment.Shipment.Prioritized" @onclick=@OnClickPrioritized>
                                                                    <label class="custom-control-label" for="sChkbox"></label>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                        <hr />

                                        @*<div class="col-xl-12 col-md-4">
                                    <button class="btn btn-dark btn-block mb-4 mr-2">Spara</button>
                                    </div>*@

                                    }
                                    else
                                    {
                                        <p>N/A</p>
                                    }

                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3">

                            <div class="invoice-actions-btn">
                                <div class="invoice-action-btn">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-4">
                                            <button class="btn btn-dark btn-block mb-4 mr-2" @onclick=@SaveShipment>Spara</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <Footer />
</div>

@code {
    private TuraIntranet.Data.Logistics.Shipments.ShipmentModel? _shipment { get; set; }
    private List<TuraIntranet.Data.Logistics.Shipments.ShipmentEmployee> shipmentEmployees { get; set; }
    private int _updatedBy;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            this.PageNavService.UpdateActiveSection("Logistik");
            this.PageNavService.UpdateActivePage("AddInleverans");

            this.shipmentEmployees = await this.ShipmentService.GetShipmentEmployees();
            this._shipment = new Data.Logistics.Shipments.ShipmentModel();
            this._shipment.Shipment = new Data.Logistics.Shipments.ShipmentData()
            {
                //Set default data
            };
            this._shipment.ShipmentUpdates = new List<Data.Logistics.Shipments.ShipmentUpdateData>();
            this.StateHasChanged();
        }
    }

    private async Task SaveShipment()
    {
        if(this._shipment == null || this._shipment.Shipment == null)
        {
            await this.Notification.AlertError("ERROR #F301");
            return;
        }

        if (this._updatedBy == 0 || !this._shipment.Shipment.ReceivedBy.HasValue || this._shipment.Shipment.ReceivedBy.Value == 0)
        {
            await this.Notification.AlertError("Välj Mottagare");
            return;
        }

        if (!this._shipment.Shipment.ReceivingCompany.HasValue || this._shipment.Shipment.ReceivingCompany.Value == 0)
        {
            await this.Notification.AlertError("Välj Mottagare");
            return;
        }

        if (!this._shipment.Shipment.Prioritized.HasValue)
        {
            this._shipment.Shipment.Prioritized = false;
        }

        this._shipment.Shipment.ReceivedAt = DateTime.Now;

        this.NullCheckingModel();

        this._shipment.ShipmentUpdate = new TuraIntranet.Data.Logistics.Shipments.ShipmentUpdateData()
            {
                UpdatedBy = this._updatedBy,
                UpdatedAt = DateTime.Now,
                StatusId = 1,
                Note = string.Empty
            };

        this.ShipmentService.AddShipment(this._shipment);
        this.ShipmentService.FlushShipments();
        //this.NavManager.NavigateTo("/inleveranser");
        await this.Notification.AlertSuccess("Inleverans tillagd");
    }

    private void NullCheckingModel()
    {
        if (this._shipment.Shipment.OrderNumbers == null)
        {
            this._shipment.Shipment.OrderNumbers = string.Empty;
        }

        if (this._shipment.Shipment.NumberOfPackages == null)
        {
            this._shipment.Shipment.NumberOfPackages = 0;
        }

        if (this._shipment.Shipment.NumberOfPallets == null)
        {
            this._shipment.Shipment.NumberOfPallets = 0;
        }

        if (this._shipment.Shipment.Placement == null)
        {
            this._shipment.Shipment.Placement = string.Empty;
        }

        if (this._shipment.Shipment.Supplier == null)
        {
            this._shipment.Shipment.Supplier = string.Empty;
        }

        if (this._shipment.Shipment.InitatedBy == null)
        {
            this._shipment.Shipment.InitatedBy = 0;
        }

        if (this._shipment.Shipment.ReceivingCompany == null)
        {
            this._shipment.Shipment.InitatedBy = 0;
        }

        if (this._shipment.Shipment.ReceivedBy == null)
        {
            this._shipment.Shipment.InitatedBy = 0;
        }
    }

    private void OnChangeUpdatedById(ChangeEventArgs e)
    {
        string inputValue = e.Value.ToString();
        this._updatedBy = int.Parse(inputValue);
        this._shipment.Shipment.InitatedBy = int.Parse(inputValue);
    }

    private void OnChangeReceivedById(ChangeEventArgs e)
    {
        string inputValue = e.Value.ToString();
        this._shipment.Shipment.ReceivedBy = int.Parse(inputValue);
    }

    private void OnChangeReceiverId(ChangeEventArgs e)
    {
        string inputValue = e.Value.ToString();
        this._shipment.Shipment.ReceivingCompany = int.Parse(inputValue);
    }

    private void OnClickPrioritized()
    {
        if (!this._shipment.Shipment.Prioritized.HasValue)
        {
            this._shipment.Shipment.Prioritized = true;
        }
        else
        {
            if (this._shipment.Shipment.Prioritized.Value)
            {
                this._shipment.Shipment.Prioritized = false;
            }
            else
            {
                this._shipment.Shipment.Prioritized = true;
            }
        }
    }
}
