@page "/rmainfo"

@inject PageNavigationService PageNavService
@inject NotificationService Notification
@inject Services.Logistics.RmaInformationService RmaService
@inject VisitorsService VisitorsService

<PageTitle>RMA Information</PageTitle>

<link rel="stylesheet" type="text/css" href="plugins/table/datatable/datatables.css">
<link rel="stylesheet" type="text/css" href="plugins/table/datatable/dt-global_style.css">
<link href="assets/css/components/tabs-accordian/custom-tabs.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="assets/css/elements/alert.css">
<link href="assets/css/apps/invoice-edit.css" rel="stylesheet" type="text/css" />

<div id="content" class="main-content">
    <div class="layout-px-spacing">

        <div class="row layout-top-spacing" id="cancel-row">

            <div class="col-xl-4 col-lg-12 col-sm-12  layout-spacing">
                <div class="widget-content widget-content-area br-6">

                    <br />
                    <center><h5>RMA Information</h5></center>
                    <br />

                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-sm-11">
                                <input type="text" class="form-control form-control-sm" placeholder="Artikelnr" @bind-value=@articleNumberInput @bind-value:event="oninput" @onkeydown="@Enter">
                            </div>

                            <div class="col-sm-11">
                                <input type="text" class="form-control form-control-sm" placeholder="EAN/UPC" @bind-value=@eanOrUpcInput @bind-value:event="oninput" @onkeydown="@Enter">
                            </div>

                            <div class="col-xl-11 col-md-4">
                                <button class="btn btn-dark btn-block mb-4 mr-2" @onclick=@Search>Sök</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @if (this.rmaData != null && this.rmaData.Item != null && this.rmaData.L62T1 != null)
            {
                <div class="col-xl-5 col-lg-12 col-sm-12  layout-spacing">
                    <div class="widget-content widget-content-area br-6">

                        <br />

                        <div class="col-sm-11">
                            @if (this.rmaData.Item.Activity_Code == "4" || this.rmaData.Item.Activity_Code == "5" ||
                         this.rmaData.Item.Activity_Code == "6" || this.rmaData.Item.Activity_Code == "7")
                            {
                                <div class="alert alert-light-danger border-0 mb-2" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><svg> ... </svg></button>
                                    <strong>Ej RMA!</strong> @(this.activityCodes?.Where(x => x.Code == this.rmaData.Item.Activity_Code).FirstOrDefault()?.Description)
                                </div>
                                <br />
                            }


                            <div class="widget-header">
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                        <h4>@this.rmaData.Item.Description</h4>
                                    </div>
                                </div>
                            </div>

                            <hr />

                            <div class="media">
                                <img class="mr-3 rounded-circle" src="@(this.GetImagePath(this.rmaData.Item.No_))" alt="No Image">
                                <div class="media-body">
                                    <h5 class="mt-0">@this.rmaData.Item.No_</h5>
                                    @this.rmaData.Item.Description
                                </div>
                            </div>

                            <hr />

                            <h4>Navision Data</h4>
                            <div><div style="display:inline-block; width:170px;"><b>Artikelnummber</b></div> @this.rmaData.Item.No_</div>
                            <div><div style="display:inline-block; width:170px;"><b>Benämning</b></div> @(this.rmaData.Item.Description + " " + this.rmaData.Item.Description_2)</div>
                            @*<div><div style="display:inline-block; width:170px;"><b>Benämning 2</b></div> @this.rmaData.Item.Description_2</div>*@
                            <div><div style="display:inline-block; width:170px;"><b>EAN / UPC</b></div> @this.rmaData.Item.Primary_EAN_Code</div>
                            <div><div style="display:inline-block; width:170px;"><b>Lev artikelnummer</b></div> @this.rmaData.Item.Vendor_Item_No_</div>
                            <div><div style="display:inline-block; width:170px;"><b>Leverantör</b></div> @this.rmaData.Item.Vendor_Name</div>
                            <div><div style="display:inline-block; width:170px;"><b>Tillverkarkod</b></div> @this.rmaData.Item.Manufacturer_Code</div>
                            <div>
                                <div style="display:inline-block; width:170px;"><b>Aktivkod</b></div> @this.rmaData.Item.Activity_Code
                                (@(this.activityCodes?.Where(x => x.Code == this.rmaData.Item.Activity_Code).FirstOrDefault()?.Description))
                            </div>
                            @*<div style="display:inline-block;"><div style="display:inline-block; width:170px;"><b>Uppdaterad</b></div> </div>*@

                            <hr />

                            <h4>Astro Data</h4>
                            <div><div style="display:inline-block; width:170px;"><b>Företag</b></div> @this.rmaData.L62T1.divcode</div>
                            <div><div style="display:inline-block; width:170px;"><b>Tillg. saldo</b></div>@(string.Format("{0:0.00}", this.rmaData.L62T1.baltot))</div>
                            <div><div style="display:inline-block; width:170px;"><b>Ej tillg. saldo</b></div> @this.rmaData.L62T1.balnotav</div>
                            <div><div style="display:inline-block; width:170px;"><b>PlockMHO saldo</b></div> @(string.Format("{0:0.00}", this.rmaData.L62T1.balpl))</div>
                            <div><div style="display:inline-block; width:170px;"><b>Plock-MHO</b></div> @this.rmaData.L62T1.pmha</div>
                            <div><div style="display:inline-block; width:170px;"><b>Buffert-MHO</b></div> @this.rmaData.L62T1.wmha</div>
                            <div><div style="display:inline-block; width:170px;"><b>Önskad lastbärare</b></div> @this.rmaData.L62T1.wldct</div>
                            <div><div style="display:inline-block; width:170px;"><b>Reg-datum</b></div> @this.rmaData.L62T1.regdate</div>
                            <div><div style="display:inline-block; width:170px;"><b>Uppd-datum</b></div> @this.rmaData.L62T1.upddate</div>

                            <br />

                        </div>
                    </div>
                </div>

                @*<div class="col-xl-4 col-lg-12 col-sm-12  layout-spacing">
                    </div>*@

                <div class="col-xl-3">
                    <div class="invoice-content">
                        <div class="invoice-detail-body">
                            <div class="invoice-detail-header">
                                <div class="row justify-content-between">
                                    <div class="col-xl-12 invoice-address-client">
                                        <div class="invoice-address-client-fields">
                                            <center><h5>RMA Information</h5></center>

                                            <div class="form-group row">
                                                @*<label class="col-sm-12 col-form-label col-form-label-sm">RMA Information</label>*@
                                                <div class="col-sm-12">
                                                    <textarea class="form-control" placeholder="@this.rmaInfoTextInput" @bind=@this.rmaInfoTextInput rows="7" />
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-xl-12 col-md-4">
                                                    <button class="btn btn-dark btn-block mb-4 mr-2" @onclick=@SaveRmaInfo>Spara</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <Footer />
</div>

@code {
    private string articleNumberInput = string.Empty;
    private string eanOrUpcInput = string.Empty;

    private Data.Logistics.Rma.RmaData? rmaData;
    private Data.Logistics.Rma.RmaInformation? rmaInformation;
    private List<Data.Logistics.Rma.ActivityCode> activityCodes;

    private string rmaInfoTextInput = "test";

    protected override async Task OnInitializedAsync()
    {
        this.VisitorsService.IncrementPageVisit();
        this.PageNavService.UpdateActiveSection("Logistik");
        this.PageNavService.UpdateActivePage("RmaInformation");

        this.activityCodes = await this.RmaService.GetActivityCodes();
    }

    public async Task Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await this.Search();
        }
    }

    private async Task Search()
    {
        rmaData = null;
        this.rmaInformation = null;
        this.rmaInfoTextInput = string.Empty;

        if (!string.IsNullOrEmpty(this.articleNumberInput))
        {
            this.rmaData = await this.RmaService.GetRmaInformationAsync(this.articleNumberInput, "id");

            if (this.rmaData == null || this.rmaData.Item == null || this.rmaData.L62T1 == null)
            {
                await this.Notification.AlertError("Kunde inte hitta Id [" + this.articleNumberInput + "]");
                return;
            }

            this.rmaInformation = await this.RmaService.GetSpecialRmaInformation(rmaData.Item.No_);
            if (this.rmaInformation != null && this.rmaInformation.Rmainfo != null)
            {
                this.rmaInfoTextInput = this.rmaInformation.Rmainfo;
            }

        }
        else if (!string.IsNullOrEmpty(this.eanOrUpcInput))
        {
            this.rmaData = await this.RmaService.GetRmaInformationAsync(this.eanOrUpcInput, "code");

            if (this.rmaData == null || this.rmaData.Item == null || this.rmaData.L62T1 == null)
            {
                await this.Notification.AlertError("Kunde inte hitta EAN/UPC [" + this.eanOrUpcInput + "]");
                return;
            }

            this.rmaInformation = await this.RmaService.GetSpecialRmaInformation(rmaData.Item.No_);
            if (this.rmaInformation != null && this.rmaInformation.Rmainfo != null)
            {
                this.rmaInfoTextInput = this.rmaInformation.Rmainfo;
            }
        }
        else
        {
            await this.Notification.AlertError("Mata in Id eller EAN/UPC");
            return;
        }

        this.StateHasChanged();
    }

    private async Task SaveRmaInfo()
    {
        if (this.rmaInformation == null || this.rmaInformation.Rmainfo == null)
        {
            this.rmaInformation = new()
            {
                ItemNumber = this.rmaData.Item.No_,
                Rmainfo = this.rmaInfoTextInput
            };

            await this.RmaService.AddSpecialRmaInformationAsync(this.rmaInformation);
        }
        else
        {
            this.rmaInformation.Rmainfo = this.rmaInfoTextInput;

            await this.RmaService.UpdateSpecialRmaInformationAsync(this.rmaInformation);
        }

        await this.Notification.AlertSuccess("RMA Info Uppdaterad!");
    }

    private string GetImagePath(string itemId)
    {
        return "https://www.turascandinavia.com/image/" + itemId + "ver.jpg";
    }
}